h1{
    color:darkgray;

}
h2{
    background-color: beige;
    color: coral;
}
h4{
    background-color: beige;
    color: coral;
}
img{
    border: 10px solid black;
    width: 200px;
    height: 100 px;
    
}